.guardian-spaceForm {
    display: flex;
    background-color: white;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.formGuardian{
    font-size: 18px;
    display: flex;
    flex-direction: column;
}
.config-spaceForm-title{
    font-size: 20px;
    width: 40%;
    margin-left: 15px;
    margin-bottom: 15px;
}
.config-spaceForm {
    display: flex;
    margin: 0; 
    background-color: #F68F24;
    color: white;
    width: 100%;
    align-items: flex-end;
    height: 90.5pt; 
}

.config-space {
    margin-left: 20px;
    margin-top: 45px;
}

.title-formGuardian{
    font-weight: bold;
}

.description-formGuardian {
    font-weight: bold;
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 10px;
}

.button-formGuardian{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 25px;
    margin-right: 15px;
    background-color: #F68F24;
    color: white;
    font-size: 15px;
    border-radius: 5px;
    border: none;
}

.item-space {
    margin-right: 15px;
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.1);
    padding-top: 20px;
}

.item-spaceHolder{
    width: 92%; 
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
}