.box{
    display: flex;
    flex-direction: row;
    height: 90px;
    margin-top: 2%;
}

.reservation{
    margin-left: 0;
    padding-top: 10px;
    font-weight: bold;
    margin-bottom: -3%;
}

.user-profile{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.user-info{
    display: flex;
        flex-direction: column;
        margin-right: 8%;
        justify-content: space-between;
}

.user-info h4, .user-info p {
    margin: 0;
}

.user-info p{
    color: #666666;
}

.user-buttons{
    display: flex;
    width: 44px;
    height: 30px;
    flex-direction: column;
    align-items: center;
}

.user-buttons a{
    text-decoration: none;
    color: #0095BE;
}

.user-buttons button {
    font-size: 20px;
    margin-bottom: 15px;
    color: white;
    background-color: #F68F24;
    border-radius: 10px;
    border: none;
    padding: 10px;
}


.user-img2{
        padding: 3%;
            width: 15%;
            border-radius: 20px;
            margin-left: 5px;
}

.text_inf{
    font-size: 10px;
}

h1{
    font-weight: bold;
}



