.user-img {
    height: 100px;
    width: 100px;
    border-radius: 20px;
    margin-left: 60px;
}

.user {
    display: flex;
    margin: 20px;
}

.menu-options {
    margin-left: 20px;
}

.user-options {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}


.register-button {
    background-color: transparent;
    border: none;
    display: flex;
    flex-direction: column;
    padding: 0;
}