.user-img {
    height: 100px;
    width: 100px;
    border-radius: 15px;
    margin-left: 90px;
}

.user-profile {
    display: flex;
    margin: 20px;
    padding-top: 15px;
}

.user-profileName{
    font-weight: bold;
    font-size: 25px;
}

.userRegister-guardian{
    padding-bottom: 5px;
}

.userRegister-anounce{
    color: grey;
}

.user-profileEdit{
    font-size: 16px;
}

.menu-userOptions {
    margin-left: 20px;
    margin-top: 30px;
    margin-right: 20px;
}

.user-userOptions {
    padding-bottom: 10px;
    padding-top: 20px;
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.1);
}


.userRegister-button {
    background-color: transparent;
    border: none;
    display: flex;
    flex-direction: column;
    padding: 0;
}