.guardian-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
}


.guardian-bar {
    list-style: none;
    padding: 0;
}

.guardian-item {
    display: inline-block;
    margin: 0 25px;
}

.guardian-img {
    height: 30px;
}

