.wellcome-card {
    width: 188.5pt;
    height: 310pt;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    display: flex;
    margin: 10%;
}

.img-wellcome-container {
    width: 75%;
    margin-top: 10%;
}

.wellcome-img {
    width: 85%;
}

.wellcome-button {

}

.prices-link {
    font-size: 12px;
}