.wellcome-card {
    width: 90%;
    height: 85%;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 31px rgba(0, 0, 0, 0.5);
    gap: 70px;
}

.img-wellcome-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.wellcome-img {
    width: 40%;
}

.welcome__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wellcome-button {
    width: 80%;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(246, 143, 36);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block-start: 40px;
    text-decoration: none;
    margin-bottom: 0;
    flex-direction: column;
}

.wellcome-button_letra {
    font-size: 20px;
    background-color: transparent;
    color: white;
    height: 100%;
    width: 100%;
}

.prices-link {
    font-size: 15px;
    margin-top: 10px;
}

.text-wellcome-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.text-wellcome-container_letra {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80%;
}

@media(max-width:960px) {
    /* aqui ponlo todo el css para los elementos para el tamaño 960 */
}