.wellcome-card {
    width: 89%;
    height: 84.5%;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    display: flex;
    margin: 10%;
}

.img-wellcome-container {
    width: 75%;
    margin-top: 10%;
}

.wellcome-img {
    width: 85%;
}

.wellcome-button {
    font-size: 15px;
    width: 65%;
    height: 8%;
    border-radius: 10px;
    background-color: rgb(246, 143, 36);
    color: white;
}

.prices-link {
    font-size: 12px;
}