/* 
.p-component,
.p-component * {
    box-sizing: content-box;
}

.p-dialog-header {
    font-size: 20px;
    position: relative;
    top: 20px;
    display: flex;
    flex-direction: row-reverse;
} */