.title_box{
    margin-top: 20%;
    padding-left: 5%;
}

.title_text{
    font-size: 30px;
    font-weight: bold;
    color: black;
}

.button {
    background-color: white;
    width: 80%;
    height: 50px;
    border: none ;
    border-color: rgb(225, 221, 221);
    text-align: start;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 20px;
}

p{
    margin-left: 5%;
    margin-right: 5%;
    font-size: 20px;
}

hr{
    margin-left: 5%;
    margin-right: 5%;
}

