.img {
    width: 50%;
    border-radius: 5%;
}

.box_anuncios {
    margin-left: 5%;
}

.servicios-button-siguiente {
    border: none;
    background-color: white;
    font-size: 50px;
}

.caja_1 {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-right: 30px;
}

.servicios-otroEspacio {
    margin-left: 5%;
}

.agregar {
    display: flex;
    justify-content: end;
    margin-right: 30px;
    padding-bottom: 20%;
}